20048885 Dipesh Raj Sharma/webpage/catalog_20048885.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="store">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="storedetails">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="logo">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="cs" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="navdetail">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="address" />
                                        <xs:element type="xs:int" name="telephone" />
                                        <xs:element type="xs:string" name="website" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="name" />
                            <xs:element name="welcome">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="br" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="cards">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="giftcard" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="image">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="imgid" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="type">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="delivery" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="quantity" />
                                        <xs:element name="cost">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="currency" use="optional">
                                                            <xs:simpleType>
                                                                <xs:restriction base="xs:string">
                                                                    <xs:enumeration value="USD" />
                                                                    <xs:enumeration value="Pound" />
                                                                </xs:restriction>
                                                            </xs:simpleType>
                                                        </xs:attribute>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="validity" minOccurs="0" />
                                        <xs:element type="xs:string" name="expirey" minOccurs="0" />
                                        <xs:element type="xs:string" name="numberofusers" />
                                        <xs:element type="xs:string" name="discountvouchers" minOccurs="0" />
                                        <xs:element type="xs:string" name="company" />
                                        <xs:element type="xs:string" name="region" />
                                        <xs:element type="xs:string" name="refunds" minOccurs="0" />
                                        <xs:element type="xs:string" name="recharge" minOccurs="0" />
                                        <xs:element type="xs:string" name="withdraw" />
                                        <xs:element type="xs:string" name="share" minOccurs="0" />
                                        <xs:element type="xs:string" name="dateextension" minOccurs="0" />
                                        <xs:element name="renewal">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:boolean" name="availablity" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="timesitcanbeused" minOccurs="0" />
                                        <xs:element type="xs:string" name="code" />
                                        <xs:element type="xs:string" name="button" />
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="card" use="optional" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>